<h2>Order Details</h2>
<form
  class="order-form"
  *ngIf="orderDetailsForm"
  [formGroup]="orderDetailsForm"
>
  <mat-form-field class="field-half-width">
    <mat-label>Supplier Name</mat-label>
    <input matInput formControlName="supplierName" required />
    <mat-error>{{ errors["orderDetails.supplierName"] }}</mat-error>
  </mat-form-field>

  <mat-form-field class="field-half-width">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" required />
    <mat-error>{{ errors["orderDetails.location"] }}</mat-error>
  </mat-form-field>

  <mat-form-field class="field-half-width">
    <mat-label>Supplier Invoice Number</mat-label>

    <input
      matInput
      formControlName="invoiceNumber"
      (keypress)="numberOnly($event)"
    />
    <mat-error>{{ errors["orderDetails.invoiceNumber"] }}</mat-error>
  </mat-form-field>

  <mat-form-field class="field-half-width">
    <mat-label>Notes</mat-label>
    <textarea
      matInput
      formControlName="notes"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      [maxlength]="notesMaxLength"
      cdkAutosizeMaxRows="5"
    ></textarea>
    <mat-error>{{ errors["orderDetails.notes"] }}</mat-error>
  </mat-form-field>
  <div class="character-count">
    {{ orderDetailsForm.get("notes")?.value?.length }} / {{ notesMaxLength }}
  </div>
</form>
