.header-content {
  display: flex;
  align-items: left;
}

.left-content {
  flex-grow: 1;
}

.right-content {
  margin-left: 10px;
  margin-right: 62%;
}

.main-container{
  min-height: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 26px;
}

.custom-panel-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-panel-title .heading {
  font-size: 14px;
}

.custom-panel-title .subheading {
  font-size: 16px;
  font-weight: bold;
}


.form-fields-container {
  display: flex;
  align-items: center;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.list-item {
  flex-basis: 50%;
  padding: 10px;
  border: 1px solid #ccc;
}

.item-heading {
  font-size: 14px;
  font-weight: italic;
}

.item-subheading {
  font-size: 18px;
  color: black;
}