<!-- Product details -->
<mat-accordion [formGroup]="purchaseOrderForm">
  <ng-container formArrayName="product">
    <mat-expansion-panel
      *ngFor="let productInstance of GetControls('product'); let i = index"
      [formGroupName]="i"
      (opened)="panelState['product'] = true"
      (closed)="panelState['product'] = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ productInstance.get("name")?.value }}</span>
           &nbsp;(<h5>{{ productInstance.get("id")?.value }}</h5>)
        </mat-panel-title>
        <mat-panel-description>
            <div class="form-fields-container">
                <div class="form-field">
                  <h5>Heading 1</h5>
                  <mat-form-field>
                    <mat-label>Input Label 1</mat-label>
                    <input matInput placeholder="Input Placeholder 1">
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <h5>Heading 2</h5>
                  <mat-form-field>
                    <mat-label>Input Label 2</mat-label>
                    <input matInput placeholder="Input Placeholder 2">
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <h5>Heading 3</h5>
                  <mat-form-field>
                    <mat-label>Input Label 3</mat-label>
                    <input matInput placeholder="Input Placeholder 3">
                  </mat-form-field>
                </div>
              </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>HI</p>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

<br />

<!-- Sub Total -->
<mat-accordion>
  <mat-expansion-panel
    
    (opened)="panelState['subTotal'] = true"
    (closed)="panelState['subTotal'] = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Sub Total (Tax inclusive) </mat-panel-title>
      <mat-panel-description>
        {{ subTotal }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panel-content">
      <div class="header-content">
        <div class="left-content">Total Tax</div>
        <div class="right-content">+ {{ extraTax }}</div>
      </div>
    </div>

    <div class="panel-content">
      <div class="header-content">
        <div class="left-content">Total (Tax Inclusive)</div>
        <div class="right-content">{{ extraTax + subTotal }}</div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br>
<!-- Payment area -->
<app-payment
  [purchaseOrderForm]="purchaseOrderForm"
  [totalAmount]="extraTax + subTotal"
></app-payment>
