.header-content {
  display: flex;
  align-items: left;
}

.left-content {
  flex-grow: 1;
}

.right-content {
  margin-left: 10px;
  margin-right: 62%;
}

.form-fields-container {
  display: flex;
}

.form-field {
  margin-right: 10px;
}
